/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


# frontend files

./frontend/.DS_Store
./frontend/node_modules
./frontend/dist


# local env files
./frontend/.env.local
./frontend/.env.*.local

# Log files
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*
./frontend/pnpm-debug.log*

# Editor directories and files
./frontend/.idea
./frontend/.vscode
./frontend/*.suo
./frontend/*.ntvs*
./frontend/*.njsproj
./frontend/*.sln
./frontend/*.sw?
