$colors: (
    light: (
        gray1: #f6f6f6,
        gray2: #f3f3f3,
        blue: #ace5ee
    ),
    dark: (
        1: #2b2d28,
        2: #20221f,
        3: #1c1e1b,
        blue: #1c3738
    ),
    other: (
        green: #009966,
        red: #d30031
    )
);
